:root {
  --fraunces: "Barlow", sans-serif;
  --barlow: "Fraunces", serif;
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate: hsl(168, 34%, 41%);
  --Very-dark: hsl(212, 27%, 19%);
  --Very-dark: hsl(213, 9%, 39%);
  --Dark-grayish: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  /* outline: 1px solid red; */
}
h1 {
  font-size: 4rem;
  color: var(--White);
  font-family: var(--fraunces);
  font-weight: 900;
}
p {
  font-size: 1rem;
  color: var(--Dark-grayish);
  font-weight: 700;
  font-family: var(--barlow);
}
h2 {
  font-size: 2rem;
  color: var(--Very-dark);
}

body {
  min-height: 100vh;
  /* background-color: black; */
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
section {
  background-color: var(--White);
  min-height: 70vh;
}

section .image {
  width: 100%;
  height: 100%;
}

.header {
  background-image: url("./images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  padding: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-size: 100% 650px;
  background-position: top;
  background-repeat: no-repeat;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 23em;
  align-items: center;
  display: none;
}
ul {
  display: flex;
  gap: 1em;
  list-style: none;
}
ul li {
  font-size: 1.2rem;
  color: var(--White);
  font-family: var(--fraunces);
}

header nav button {
  outline: none;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 15px;
  box-shadow: 0 0 20px var(--Very-dark);
  background-color: var(--White);
}

header .hamburger-menu {
  cursor: pointer;
}

section .container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section .container img {
  height: 114px;
  width: 36px;
  margin-top: 2em;
}

.wrapper {
  padding: 1em;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper h2 {
  font-family: var(--barlow);
  color: var(--Dark-blue);
  font-weight: 900;
}

.wrapper p {
  line-height: 1.8;
}

.wrapper button {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 4px solid var(--Yellow);
  font-family: var(--barlow);
  color: var(--Dark-blue);
  font-weight: 900;
}

.wrapper .btn-2 {
  border-bottom: 4px solid var(--Soft-red);
}

.graphic-design {
  background-image: url("./images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.photography {
  background-image: url("./images/mobile/image-photography.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.graphic {
  padding: 2em;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.graphic h2 {
  color: var(--Dark-desaturated);
}

.graphic p {
  color: var(--Dark-desaturated);
  margin-top: 1em;
}

.client-testimonials h3 {
  color: var(--Grayish-blue);
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 100%;
  gap: 1em;
}

.testimonial {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 1em;
}

.testimonial img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimonial p {
  font-family: var(--fraunces);
  color: var(--Very-dark);
  /* margin-top: 1em; */
}
.testimonial h5 {
  color: var(--Grayish-blue);
}

.footer {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.footer-images1 {
  background-image: url("./images/mobile/image-gallery-milkbottles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-images2 {
  background-image: url("./images/mobile/image-gallery-orange.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-images4 {
  background-image: url("./images/mobile/image-gallery-sugar-cubes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-images3 {
  background-image: url("./images/mobile/image-gallery-cone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sitemap {
  background-color: #90d4c5;
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sitemap svg {
  margin-top: 5em;
}

.sitemap ul {
  display: flex;
  gap: 3em;
}

.sitemap ul li {
  color: var(--Dark-desaturated);
}

.icons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
